/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.debug{
    background-color: rgba(0, 0, 255, 0.301);
    border: 1px solid #000;
}

.container-wrap{
    height: 100vh;
}

main{
    height: calc(100vh - 90px);
}

header{
    height: 90px;
    width: calc(100% - 250px);
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
}

.main-nav{
    width: 250px;
    height: 100%;
    flex-shrink: 0;
}

.content{
    width: 100%;
    height: calc(100vh - 90px);
    overflow: auto;
    padding-top: 90px;
    background-color: beige;
}

.player{
    height: 90px;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* MAIN NAV */
.logo img{
    width: 150px;
}

.small-logo img{
    width: 30px;
    display: none;
}

.main-nav i{
    font-size:25px;
}

#playlists{
    height: calc(100vh - 350px);
    overflow: auto;
}

/* PODCAST */
#podcast{
    width: 30%;
    margin: 0 auto;
}

/* RECENTLY PLAYED */
.card{
    width: 200px;
}

.card-image img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.card-text{
    flex-direction: column;
    align-items: center;
    width: 90%;
}





/* RESPONSIVE */

/* @media screen and (max-width: 1100px){
    .card{
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 700){
    .card{
        width: calc(100% / 2);
    }
} */



@media screen and (max-width: 600px){

    .main-nav{
        width: 80px;
    }

    .container{
        min-width: calc(100% - 80px);
    }

    header{
        width: calc(100% - 80px);
    }

    .logo{
        display: none;
    }
    
    .small-logo img{
        display: block;
    }
    
    .main-nav .personal,
    .main-nav a{
        
        display: none;
    }
}